extends ../layout

block content
  h1 New Reference
  form(name="createreference", method="post", action="/references")
    input(type="text", placeholder="reference name", name="name")
    br
    br
    select(name="category")
      option(value="1") aaaa
      option(value="2") bbbb
      option(value="3") cccc
      option(value="4") dddd
    br
    br
    textarea(rows="10", cols="70", placeholder="description", name="description")
    br
    br
    button(type="submit") submit
